
.blog-classic-2 .entry-meta {
	padding-right: 25px;
}
.blog-classic-2 time {
	color: #8c8c8c;
	font-family: 'Abel';
	text-transform: uppercase;
}
.blog-classic-2 .date {
	border: 2px solid #d8d8d8;
	display: inline-block;
	font-size: 30px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
}
.blog-classic-2 .month {
	display: inline-block;
	font-size: 18px;
	padding-top: 5px;
}
.blog-classic-2 .entry-title {
	margin-top: -2px;
}
.blog-classic-2 .meta-info {
	display: inline-block;
}
.blog-classic-2 .description {
	margin-top: 27px;
}
.blog-classic-2 article .btn {
	margin-top: 23px;
	padding: 12px 38px;
}
.blog-classic-2 .carousel-control {
    background: #fff;
    background-image: none !important;
    color: #262626;
    font-size: 17px;
    top: 50%;
    height: 35px;
    line-height: 38px;
    margin-top: -17px;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    width: 35px;
}
.blog-classic-2 .carousel-control.left {
    left: 3%;
}
.blog-classic-2 .carousel-control.right {
    right: 3%;
}
.blog-classic-2 .pop-video {
	background: none;
	font-size: 65px;
}
.blog-classic-2 aside.sidebar {
	padding-left: 0;
	padding-right: 30px;
}