.about-7 .section-padding {
	padding-top: 200px;
}
.about-7 .item {
	padding-bottom: 60px;
}
.about-7 .item-icon {
	background-color: #f1f1f1;
	color: #272727;
	font-size: 35px;
	float: left;
	height: 60px;
	width: 60px;
	line-height: 65px;
	margin-right: 20px;
	padding-right: 0;
	text-align: center;
}
.about-7 .numb {
	color: #ccc;
	display: inline-block;
	font-family: 'Abel';
	font-size: 20px;
	padding: 2px 0 8px;
}
.about-7 .item-title {
	color: #272727;
	font-size: 20px;
}
.about-7 .description {
	display: block;
	margin-top: 27px;
}
.about-7 .choose-us {
	display: inline-block;
	margin-top: 32px;
}
.about-7 .choose-us .right-content {
	padding-left: 45px;
}
.about-7 .choose-us .title {
	color: #262626;
	font-family: 'Abel';
	font-size: 40px;
	letter-spacing: 4px;
	line-height: 50px;
	margin-top: -10px;
	text-transform: none;
}
.about-7 .choose-us .description {
	color: #8c8c8c;
	font-family: 'Abel';
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 32px;
}
.about-7 .choose-list {
	padding-top: 11px;
}
.about-7 .choose-list li {
	color: #8c8c8c;
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 25px;
	list-style: none;
	padding: 10px 0 0 35px;
	position: relative;
}
.about-7 .choose-list li:before {
	content: "\e080";
	position: absolute;
	font-family: 'simple-line-icons';
	left: 0;
}