.name-box {
	width: 100%;
}
.itemFilter {
	margin-bottom: 70px;
	text-align: center;
}
.itemFilter a {
	color: #989898;
	font-family: 'Abel';
	font-size: 16px;
	margin: 0 43px 20px;
	text-transform: uppercase;
}
.itemFilter a:hover {
	color: #272727;
}
.itemFilter a.current {
	border-bottom: 1px solid #ccc;
	color: #272727;
}

.recent-works,
.recent-works-3,
.recent-works-9 {
	margin: 0 -2px 90px;
}
.recent-works .item,
.recent-works-3 .item,
.recent-works-5 .item,
.recent-works-9 .item {
	border: 2px solid #fff;
}
.image-popup-vertical-fit:before {
	background: rgba(0, 0, 0, 0.55);
}
.work .item-details {
	width: 100%;
	left: 0;
	top: 50%;
	text-align: center;
}
.work .item:hover .item-details {
	top: 40%;
}
.work .item-title,
.work .item-title a {
	color: #fff;
	font-family: 'Abel';
	font-size: 18px;
	letter-spacing: 0.75px;
}
.work .category {
	color: #d9d9d9;
	font-family: 'Abel';
	font-size: 15px;
}
.portfolio-contact .section-padding {
	padding: 150px 0;
}
.portfolio-contact .title {
	color: #fff;
	text-align: center;
}
.portfolio-contact .btn {
	background: #d9d9d9;
	border-color: #d9d9d9;
	color: #262626;
	margin-top: 40px;
	padding: 11px 51px;
}

.recent-works-3,
.recent-works-5 {
	margin-bottom: 90px;
}

.recent-works-4 .item {
	border: none;
	width: 100% !important;
	height: auto !important;
	margin: 0 auto 10px;
}
.recent-works-4 .item:last-child article {
	margin-bottom: 0;
}
.recent-works-4 .entry-thumbnail {
	margin-bottom: 37px;
}
.recent-works-4 .entry-title {
	font-size: 30px;
	letter-spacing: 3px; 
	margin-bottom: 20px;
}
.recent-works-4 .entry-meta a {
	font-family: 'Abel';
	font-size: 15px;
	letter-spacing: 1px;
}
.recent-works-4 p {
	max-width: 920px;
	margin: 0 auto;
	padding: 33px 5%;
}
.recent-works-4 .item .btn {
	padding: 10px 40px;
}
.no-border .item {
	border: none;
}
.recent-works.no-border,
.recent-works-9.no-border {
	margin-bottom: 90px;
}


/* ---------- Portfolio Details 01 & 02 ---------- */

.portfolio-details .title {
    margin-top: 60px;
}
.portfolio-details .widget,
.portfolio-details-02 .widget {
    color: #8c8c8c;
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 15px;
}
.portfolio-details .widget ul,
.portfolio-details-02 .widget ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
    letter-spacing: .5px;
}
.portfolio-details .widget li,
.portfolio-details-02 .widget li {
	display: block;
	padding-bottom: 5px;
}
.portfolio-details .widget a,
.portfolio-details-02 .widget a {
    color: #8c8c8c;
    font-weight: normal;
}
.portfolio-details .widget .meta-id,
.portfolio-details-02 .widget .meta-id {
    color: #8c8c8c;
    padding-right: 5px;
}
.portfolio-details .blog-page-link,
.portfolio-details-02 .blog-page-link {
	margin: 90px 0 150px;
}
.portfolio-details-02 .widget {
	margin-top: 40px;
}
.item-gallery {
	padding-right: 30px;
}
.item-gallery .nav-tabs {
	border: none;
}
.item-gallery .nav-tabs li {
	max-width: 123px;
	margin: 16px 16px 0 0;
}
.item-gallery .nav-tabs li:last-child {
	margin-right: 0;
}
.item-gallery .nav-tabs>li>a,
.item-gallery .nav-tabs>li>a:focus, 
.item-gallery .nav-tabs>li>a:hover,
.item-gallery .nav-tabs>li.active>a, 
.item-gallery .nav-tabs>li.active>a:focus, 
.item-gallery .nav-tabs>li.active>a:hover {
	border: none;
	padding: 0;
}
.item-gallery .nav>li>a>img {
	max-width: 100%;
}